$padding-16: 1rem !default;
$body-min-width: 20rem !default;

$hint-colors: (
  info: #6bf,
  warning: #fd6,
  danger: #f66,
) !default


.article-container {
    max-width: 1300px;
    padding: 0 20px;
    margin: 0 auto;
}

.docs-article-container {
    max-width: 1300px;
}

@font-face {
  font-family: wenkai;
  src: url("https://codefuturesql.top/uploads/LXGWWenKai-Bold.ttf"); /* IE9 */
  src: url("https://codefuturesql.top/uploads/LXGWWenKai-Regular.eot?#iefix") format("embedded-opentype"), url("https://codefuturesql.top/uploads/LXGWWenKai-Regular.ttf") format("truetype"), url("https://codefuturesql.top/uploads/LXGWWenKai-Regular.woff") format('woff'), url("https://codefuturesql.top/uploads/LXGWWenKai-Regular.svg#fontawesome") format("svg");
  font-weight: 300;
  font-display: swap;
}

html {
  font-family: "wenkai" !important;
  scroll-behavior: smooth;
}


body{
  font-family: "wenkai" !important;
}

.chroma {
  font-family: "wenkai";
  background-color: #F5F5F5 !important;
}

.dark .chroma{
    background: #20232B !important;
}

.flex {
  display: flex;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-even {
  flex: 1 1;
}

.flex-wrap {
  flex-wrap: wrap;
}


// {{< columns >}}
.book-columns {
margin-left: -$padding-16;
margin-right: -$padding-16;

	> div {
	  margin: $padding-16 0;
	  min-width: $body-min-width / 2;
	  padding: 0 $padding-16;
	}
}

// {{< hint >}}
.book-hint {
@each $name, $color in $hint-colors {
  &.#{$name} {
	border-color: $color;
	background-color: rgba($color, 0.1);
  }
}
}