.article-container {
    max-width: 1300px;
    padding: 0 20px;
    margin: 0 auto;
}

.docs-article-container {
    max-width: 1300px;
}

@font-face {
  font-family: wenkai;
  src: url("../fonts/LXGWWenKai-Bold.ttf"); /* IE9 */
  src: url("../fonts/LXGWWenKai-Regular.ttf");
  font-weight: 300;
  font-display: swap;
}
html {
  font-family: "wenkai";
}


body{
  font-family: "wenkai";
}