.article-container {
    max-width: 1300px;
    padding: 0 20px;
    margin: 0 auto;
}

.docs-article-container {
    max-width: 1300px;
}

@font-face {
  font-family: wenkai;
  src: url("https://codefuturesql.top/uploads/LXGWWenKai-Bold.ttf"); /* IE9 */
  src: url("https://codefuturesql.top/uploads/LXGWWenKai-Regular.eot?#iefix") format("embedded-opentype"), url("https://codefuturesql.top/uploads/LXGWWenKai-Regular.ttf") format("truetype"), url("https://codefuturesql.top/uploads/LXGWWenKai-Regular.woff") format('woff'), url("https://codefuturesql.top/uploads/LXGWWenKai-Regular.svg#fontawesome") format("svg");
  font-weight: 300;
  font-display: swap;
}

html {
  font-family: "wenkai" !important;
  scroll-behavior: smooth;
}


body{
  font-family: "wenkai" !important;
}

pre,code {
  font-family: "wenkai";
  background-color: #770404
}